// colors

$color-primary: #176bfb;
$color-green: #3ca455;
$color-orange: #e67337;
$color-red: #c84040;
$color-text: #110f24;
$color-gray-dark: #ccced0;
$color-gray-medium: #ececee;
$color-gray-light: #f6f6f9;

// font-size
$font-size-regular: 1rem;
$font-size-regular-small: 11px;
$font-size-regular-L: 16px;

$h1-font-size: $font-size-regular-L * 2.5;
$h2-font-size: $font-size-regular-L * 2;
$h3-font-size: 27px;
$h4-font-size: $font-size-regular-L;
