$modal-zindex: 1000;
$modal-max-width: 400px;
$modal-border-width: 1px;
$modal-bg-color: #ffffff;
$modal-wrapper-bg: #000;
$modal-header-color: $color-medium;
$modal-padding-x: 16px;
$modal-padding-y: 12px;
$modal-margin-y: 50px;
