@import './modals.variable';

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $modal-zindex - 1;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background-color: $modal-wrapper-bg;
    opacity: 0.6;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $modal-zindex;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    .modal-content {
        position: relative;
        max-width: $modal-max-width;
        display: flex;
        flex-direction: column;
        font-family: $font-family-base;
        background: $modal-bg-color;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include border-radius($border-radius-md);
    }
  }

  .modal-header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: $modal-header-color;
    padding: $modal-padding-y $modal-padding-x;
    border: $modal-border-width solid $modal-header-color;
    @include border-top-radius($border-radius-md);
    .modal-title {
        font-size: $text-regular;
        line-height: $text-normal;
        font-weight: $font-extra;
    }
    .btn-close-modal {
        border: 0;
        background: transparent;
    }
  }

  .modal-body {
      padding: $modal-padding-x $modal-padding-x 0;
      font-size: $text-regular;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $modal-padding-x;
  }