$color-primary: $color-text;
$alert-padding-x: $gutter * 2;
$alert-padding-y: $gutter * 1.5;
$font-size: $gutter * 3;
$alert-color: $color-white;
$alert-border-width: $border-width;
$alert-border-radius: $border-radius-md;

$theme-alert: (
  'primary': $color-primary,
  'success': $color-success,
  'warning': $color-warning,
  'danger': $color-danger
);
