@import './alert.variable';

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  color: $alert-color;
  .close {
    padding-right: $alert-padding-x;
    height: 100%;
    color: $alert-color;
    font-size: $font-size;
    display: flex;
    align-items: center;
  }
}
@each $name, $color-bg in $theme-alert {
  .alert-#{$name} {
    @include border-radius($alert-border-radius);
    background: $color-bg;
    border: $alert-border-width solid $color-bg;
  }
}
