@import './tabs.variable';
.tab {
  &-wrap {
    width: 100%;
    border: $tab-bd-w solid $tab-color;
    box-sizing: border-box;
    border-radius: $tab-border-radius;
  }
  &-header {
    display: flex;
    background: $tab-bg-color;
    box-shadow: 0px $tab-bd-w 0px #ececee;
    border: none;
  }
  &-body {
    display: none;
    padding: $tab-gutter * 4 $tab-gutter * 2;
    background: $tab-bg-color;
    &-hide {
      display: none;
    }
    &-show {
      display: block;
    }
  }
  &-item {
    padding: $tab-gutter * 1.5 $tab-gutter * 2;
    opacity: $tab-opacity;
    text-decoration: none;
    &.active {
      border-bottom: $tab-bd-w * 2 solid $tab-bd-b-color;
      opacity: $tab-opacity * 2.5;
    }
    &-center {
      display: flex;
      justify-content: center;
    }
    &-nodata {
      opacity: $tab-opacity;
    }
  }
}
