$tab-bg-color: $color-bg-opa;
$tab-color: $color-medium;
$tab-opacity: $opacity-md;
$tab-bd-w: $border-width;
$tab-border-radius: $border-radius-md;
$tab-bd-b-color: $color-primary;
$tab-gutter: $gutter;
