@import './tables.variable';

.table {
    width: $table-width;
    background-color: $table-bg-color;
    color: $color-text;
    @include border-radius($border-radius-md);
    tr {
        th, td {
            padding: $table-padding;
            font-family: $font-family-base;
            font-size: $table-font-size;
            line-height: $table-line-height;
            text-align: left;
            .form-checkbox-label::before {
                width: 20px;
                height: 20px;
                border: 2px solid $table-border-color;
            }
            .form-checkbox-label::after {
                width: 17px;
            }
        }
        th:first-child {
            width: 30%;
        }
        td:last-child,
        th:last-child {
            text-align: right;
            width: 25%;
        }
        td.table-time {
            opacity: 0.4;
        }
    }
}
.table-col {
    display: flex;
    align-items: center;
}