@import './button.variable';
@import './button.mixin';

.btn {
  display: inline-flex;
  cursor: pointer;
  color: $color-text;
  text-align: center;
  font-weight: $font-bold;
  font-family: $font-family-base;
  background-color: transparent;
  border: $border-width solid transparent;
  @include button-size(
    $btn-padding-x,
    $btn-padding-y,
    $text-regular,
    $text-normal,
    $border-radius-md
  );
  &.disabled,
  &:disabled {
    color: $color-text;
    opacity: 0.4;
    background-color: $color-dark;
    border-color: $color-dark;
  }
  &:focus,
  &:active {
    outline: 0;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == 'light' {
      @include btn-variant($color-text, $value, $value);
    } @else if $color == 'dark' {
      @include btn-variant($color-text, $value, $value);
    } @else if $color == 'medium' {
      @include btn-variant($color-text, $value, $value);
    } @else if $color == 'white' {
      @include btn-variant($color-text, $value, $value);
    } @else {
      @include btn-variant($color-white, $value, $value);
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-x,
    $btn-padding-y,
    $text-regular,
    $text-normal,
    $border-radius-md
  );
}
.btn-md {
  @include button-size(
    $btn-padding-x,
    $btn-padding-y - 4px,
    $text-sm,
    $text-regular,
    $border-radius-md
  );
}
.btn-sm {
  @include button-size(
    $btn-padding-x/2,
    $btn-padding-y/2,
    $text-xs,
    $text-regular,
    $border-radius-md
  );
}

@each $color, $value in $theme-colors {
  .tag-#{$color} {
    @if $color == 'light' {
      @include tag(
        $color-text,
        $value,
        $font-bold,
        $border-width,
        $font-family-base
      );
    } @else if $color == 'dark' {
      @include tag(
        $color-text,
        $value,
        $font-bold,
        $border-width,
        $font-family-base
      );
    } @else if $color == 'medium' {
      opacity: 0.4;
      @include tag(
        $color-text,
        $value,
        $font-bold,
        $border-width,
        $font-family-base
      );
    } @else if $color == 'white' {
      @include tag(
        $color-text,
        $value,
        $font-bold,
        $border-width,
        $font-family-base
      );
    } @else {
      @include tag(
        $color-white,
        $value,
        $font-bold,
        $border-width,
        $font-family-base
      );
    }
    @include button-size(
      $tag-padding-x,
      $tag-padding-y,
      $text-xs,
      $text-regular,
      $border-radius-lg
    );
  }
}
