@mixin button-size(
  $padding-x,
  $padding-y,
  $font-size,
  $line-height,
  $border-radius
) {
  padding: $padding-x $padding-y !important;
  font-size: $font-size;
  line-height: $line-height;
  @include border-radius($border-radius);
}

@mixin btn-variant($color, $bg-color, $boder) {
  color: $color;
  background-color: $bg-color;
  border-color: $boder;
}

@mixin tag($color, $bg-color, $font-weight-bold, $border, $btn-font-family) {
  display: inline-block;
  color: $color;
  text-align: center;
  font-weight: $font-weight-bold;
  font-family: $btn-font-family;
  background-color: $bg-color;
  border: $border solid $bg-color;
}