$progress-wrap-height: 4px;
$progress-border-radius: 2px;
$progress-main-bg-color: #ececee;
$progress-state-bg-color: #c84040;
$progress-state-bg-color-warning: #e67337;
$progress-state-bg-color-success: #3ca455;

$theme-progress: (
  'danger' $progress-state-bg-color,
  'warning' $progress-state-bg-color-warning,
  'success' $progress-state-bg-color-success
);
