@import './progress-bars.variable';
.progress-bar {
  &-wrap {
    height: $progress-wrap-height;
    position: relative;
  }
  width: 100%;
  height: 100%;
  border-radius: $progress-border-radius;
  background: $progress-main-bg-color;
  &-state {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    border-radius: $progress-border-radius;
    background: $progress-state-bg-color;
  }
}
@each $name, $bg-color in $theme-progress {
  .progress-bar-state-#{$name} {
    background: $bg-color;
  }
}
