@mixin justify-content($jc1, $jc2) {
  -webkit-box-pack: $jc1 !important;
  -ms-flex-pack: $jc1 !important;
  justify-content: $jc2 !important;
}
@mixin align-items($ai1, $ai2) {
  -webkit-box-align: $ai1 !important;
  -ms-flex-align: $ai1 !important;
  align-items: $ai2 !important;
}
