@import './position.variable';
@import './position.mixin';

@each $name, $gutter in $theme-gutter {
  .p-#{$name} {
    padding: $gutter !important;
  }
  .p-x-#{$name} {
    padding-left: $gutter !important;
    padding-right: $gutter !important;
  }
  .p-y-#{$name} {
    padding-top: $gutter !important;
    padding-bottom: $gutter !important;
  }
  .pt-#{$name} {
    padding-top: $gutter !important;
  }
  .pb-#{$name} {
    padding-bottom: $gutter !important;
  }
  .pl-#{$name} {
    padding-left: $gutter !important;
  }
  .pr-#{$name} {
    padding-right: $gutter !important;
  }
  .m-#{$name} {
    margin: $gutter !important;
  }
  .m-x-#{$name} {
    margin-left: $gutter !important;
    margin-right: $gutter !important;
  }
  .m-y-#{$name} {
    margin-top: $gutter !important;
    margin-bottom: $gutter !important;
  }
  .mt-#{$name} {
    margin-top: $gutter !important;
  }
  .mb-#{$name} {
    margin-bottom: $gutter !important;
  }
  .ml-#{$name} {
    margin-left: $gutter !important;
  }
  .mr-#{$name} {
    margin-right: $gutter !important;
  }
}
.mr-auto {
  margin-right: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}

@each $pos, $pos-pack in $theme-pos {
  .pos-hor-#{$pos-pack} {
    display: flex;
    @include justify-content($pos-pack, $pos);
  }
  .pos-ver-#{$pos-pack} {
    display: flex;
    @include align-items($pos-pack, $pos);
  }
  .pos-#{$pos-pack} {
    display: flex;
    @include justify-content($pos-pack, $pos);
    @include align-items($pos-pack, $pos);
  }
}
