$gutter-0: 0;
$gutter-1: 4px;
$gutter-2: 8px;
$gutter-3: 16px;
$gutter-4: 24px;
$gutter-5: 32px;
$gutter-6: 56px;

$pos-start: flex-start;
$pos-pack-start: start;
$pos-end: flex-end;
$pos-pack-end: end;
$pos-center: center;
$pos-between: space-between;
$pos-justify: justify;
$pos-baseline: baseline;
$pos-stretch: stretch;

$theme-gutter: (
  '0' $gutter-0,
  '1' $gutter-1,
  '2' $gutter-2,
  '3' $gutter-3,
  '4' $gutter-4,
  '5' $gutter-5,
  '6' $gutter-6
);
$theme-pos: (
  $pos-start $pos-pack-start,
  $pos-end $pos-pack-end,
  $pos-center $pos-center,
  $pos-between $pos-between,
  $pos-justify $pos-justify,
  $pos-stretch $pos-stretch
);
