.bd-radius-sm {
  border-radius: 2px; }

.bd-radius-md {
  border-radius: 4px; }

.bd-radius-lg {
  border-radius: 100px; }

.bd-radius-circle {
  border-radius: 50%; }

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  text-decoration: none; }
  .close:hover {
    text-decoration: none; }
  .close::before {
    content: '\00d7';
    cursor: pointer; }

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  height: 100%; }
  button.close:focus {
    outline: none; }

a.close.disabled {
  pointer-events: none; }

.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: 0.2; }

.opacity-2 {
  opacity: 0.4; }

.opacity-3 {
  opacity: 0.6; }

.opacity-4 {
  opacity: 0.8; }

.opacity-5 {
  opacity: 1; }

* {
  box-sizing: border-box; }

*:disabled {
  cursor: not-allowed; }

p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, .text-bold-lg, .form-label, .text-regular-lg, .form-group-lg .form-lg, .pagination-wrap-lg, .text-bold-md, .text-regular-md, .form-group-md .form-md, .form-description, .pagination-wrap-md, .text-bold-sm, .text-regular-sm, .form-group-sm .form-sm, .pagination-wrap-sm {
  font-family: "Lato", sans-serif;
  color: #110f24;
  font-style: normal;
  margin: 0; }

p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px; }

h1, .h1 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px; }

h2, .h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 40px; }

h3, .h3 {
  font-weight: 900;
  font-size: 27px;
  line-height: 32px; }

h4, .h4 {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px; }

.text-bold-lg, .form-label {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px; }

.text-regular-lg, .form-group-lg .form-lg, .pagination-wrap-lg {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.text-bold-md {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; }

.text-regular-md, .form-group-md .form-md, .form-description, .pagination-wrap-md {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

.text-bold-sm {
  font-weight: bold;
  font-size: 11px;
  line-height: 16px; }

.text-regular-sm, .form-group-sm .form-sm, .pagination-wrap-sm {
  font-weight: normal;
  font-size: 11px;
  line-height: 16px; }

.p-0 {
  padding: 0 !important; }

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.m-0 {
  margin: 0 !important; }

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.p-1 {
  padding: 4px !important; }

.p-x-1 {
  padding-left: 4px !important;
  padding-right: 4px !important; }

.p-y-1 {
  padding-top: 4px !important;
  padding-bottom: 4px !important; }

.pt-1 {
  padding-top: 4px !important; }

.pb-1 {
  padding-bottom: 4px !important; }

.pl-1 {
  padding-left: 4px !important; }

.pr-1 {
  padding-right: 4px !important; }

.m-1 {
  margin: 4px !important; }

.m-x-1 {
  margin-left: 4px !important;
  margin-right: 4px !important; }

.m-y-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important; }

.mt-1 {
  margin-top: 4px !important; }

.mb-1 {
  margin-bottom: 4px !important; }

.ml-1 {
  margin-left: 4px !important; }

.mr-1 {
  margin-right: 4px !important; }

.p-2 {
  padding: 8px !important; }

.p-x-2 {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.p-y-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important; }

.pt-2 {
  padding-top: 8px !important; }

.pb-2 {
  padding-bottom: 8px !important; }

.pl-2 {
  padding-left: 8px !important; }

.pr-2 {
  padding-right: 8px !important; }

.m-2 {
  margin: 8px !important; }

.m-x-2 {
  margin-left: 8px !important;
  margin-right: 8px !important; }

.m-y-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important; }

.mt-2 {
  margin-top: 8px !important; }

.mb-2 {
  margin-bottom: 8px !important; }

.ml-2 {
  margin-left: 8px !important; }

.mr-2 {
  margin-right: 8px !important; }

.p-3 {
  padding: 16px !important; }

.p-x-3 {
  padding-left: 16px !important;
  padding-right: 16px !important; }

.p-y-3 {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }

.pt-3 {
  padding-top: 16px !important; }

.pb-3 {
  padding-bottom: 16px !important; }

.pl-3 {
  padding-left: 16px !important; }

.pr-3 {
  padding-right: 16px !important; }

.m-3 {
  margin: 16px !important; }

.m-x-3 {
  margin-left: 16px !important;
  margin-right: 16px !important; }

.m-y-3 {
  margin-top: 16px !important;
  margin-bottom: 16px !important; }

.mt-3 {
  margin-top: 16px !important; }

.mb-3 {
  margin-bottom: 16px !important; }

.ml-3 {
  margin-left: 16px !important; }

.mr-3 {
  margin-right: 16px !important; }

.p-4 {
  padding: 24px !important; }

.p-x-4 {
  padding-left: 24px !important;
  padding-right: 24px !important; }

.p-y-4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important; }

.pt-4 {
  padding-top: 24px !important; }

.pb-4 {
  padding-bottom: 24px !important; }

.pl-4 {
  padding-left: 24px !important; }

.pr-4 {
  padding-right: 24px !important; }

.m-4 {
  margin: 24px !important; }

.m-x-4 {
  margin-left: 24px !important;
  margin-right: 24px !important; }

.m-y-4 {
  margin-top: 24px !important;
  margin-bottom: 24px !important; }

.mt-4 {
  margin-top: 24px !important; }

.mb-4 {
  margin-bottom: 24px !important; }

.ml-4 {
  margin-left: 24px !important; }

.mr-4 {
  margin-right: 24px !important; }

.p-5 {
  padding: 32px !important; }

.p-x-5 {
  padding-left: 32px !important;
  padding-right: 32px !important; }

.p-y-5 {
  padding-top: 32px !important;
  padding-bottom: 32px !important; }

.pt-5 {
  padding-top: 32px !important; }

.pb-5 {
  padding-bottom: 32px !important; }

.pl-5 {
  padding-left: 32px !important; }

.pr-5 {
  padding-right: 32px !important; }

.m-5 {
  margin: 32px !important; }

.m-x-5 {
  margin-left: 32px !important;
  margin-right: 32px !important; }

.m-y-5 {
  margin-top: 32px !important;
  margin-bottom: 32px !important; }

.mt-5 {
  margin-top: 32px !important; }

.mb-5 {
  margin-bottom: 32px !important; }

.ml-5 {
  margin-left: 32px !important; }

.mr-5 {
  margin-right: 32px !important; }

.p-6 {
  padding: 56px !important; }

.p-x-6 {
  padding-left: 56px !important;
  padding-right: 56px !important; }

.p-y-6 {
  padding-top: 56px !important;
  padding-bottom: 56px !important; }

.pt-6 {
  padding-top: 56px !important; }

.pb-6 {
  padding-bottom: 56px !important; }

.pl-6 {
  padding-left: 56px !important; }

.pr-6 {
  padding-right: 56px !important; }

.m-6 {
  margin: 56px !important; }

.m-x-6 {
  margin-left: 56px !important;
  margin-right: 56px !important; }

.m-y-6 {
  margin-top: 56px !important;
  margin-bottom: 56px !important; }

.mt-6 {
  margin-top: 56px !important; }

.mb-6 {
  margin-bottom: 56px !important; }

.ml-6 {
  margin-left: 56px !important; }

.mr-6 {
  margin-right: 56px !important; }

.mr-auto {
  margin-right: auto !important; }

.ml-auto {
  margin-left: auto !important; }

.pos-hor-start {
  display: flex;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.pos-ver-start {
  display: flex;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.pos-start {
  display: flex;
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important; }

.pos-hor-end {
  display: flex;
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important; }

.pos-ver-end {
  display: flex;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.pos-end {
  display: flex;
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important; }

.pos-hor-center {
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }

.pos-ver-center {
  display: flex;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.pos-center {
  display: flex;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.pos-hor-space-between {
  display: flex;
  -webkit-box-pack: space-between !important;
  -ms-flex-pack: space-between !important;
  justify-content: space-between !important; }

.pos-ver-space-between {
  display: flex;
  -webkit-box-align: space-between !important;
  -ms-flex-align: space-between !important;
  align-items: space-between !important; }

.pos-space-between {
  display: flex;
  -webkit-box-pack: space-between !important;
  -ms-flex-pack: space-between !important;
  justify-content: space-between !important;
  -webkit-box-align: space-between !important;
  -ms-flex-align: space-between !important;
  align-items: space-between !important; }

.pos-hor-justify {
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: justify !important; }

.pos-ver-justify {
  display: flex;
  -webkit-box-align: justify !important;
  -ms-flex-align: justify !important;
  align-items: justify !important; }

.pos-justify {
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: justify !important;
  -webkit-box-align: justify !important;
  -ms-flex-align: justify !important;
  align-items: justify !important; }

.pos-hor-stretch {
  display: flex;
  -webkit-box-pack: stretch !important;
  -ms-flex-pack: stretch !important;
  justify-content: stretch !important; }

.pos-ver-stretch {
  display: flex;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.pos-stretch {
  display: flex;
  -webkit-box-pack: stretch !important;
  -ms-flex-pack: stretch !important;
  justify-content: stretch !important;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important; }

.text-primary {
  color: #176bfb !important; }

.text-success {
  color: #3ca455 !important; }

.text-warning {
  color: #e67337 !important; }

.text-danger {
  color: #c84040 !important; }

.text-light {
  color: #f6f6f9 !important; }

.text-black {
  color: #110f24 !important; }

.text-dark {
  color: #ccced0 !important; }

.text-medium {
  color: #ececee !important; }

.text-white {
  color: #fff !important; }

.bg-primary {
  background-color: #176bfb !important; }

.bg-success {
  background-color: #3ca455 !important; }

.bg-warning {
  background-color: #e67337 !important; }

.bg-danger {
  background-color: #c84040 !important; }

.bg-light {
  background-color: #f6f6f9 !important; }

.bg-black {
  background-color: #110f24 !important; }

.bg-dark {
  background-color: #ccced0 !important; }

.bg-medium {
  background-color: #ececee !important; }

.bg-white {
  background-color: #fff !important; }

.btn {
  display: inline-flex;
  cursor: pointer;
  color: #110f24;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 16px !important;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px; }
  .btn.disabled, .btn:disabled {
    color: #110f24;
    opacity: 0.4;
    background-color: #ccced0;
    border-color: #ccced0; }
  .btn:focus, .btn:active {
    outline: 0; }

.btn-primary {
  color: #fff;
  background-color: #176bfb;
  border-color: #176bfb; }

.btn-success {
  color: #fff;
  background-color: #3ca455;
  border-color: #3ca455; }

.btn-warning {
  color: #fff;
  background-color: #e67337;
  border-color: #e67337; }

.btn-danger {
  color: #fff;
  background-color: #c84040;
  border-color: #c84040; }

.btn-light {
  color: #110f24;
  background-color: #f6f6f9;
  border-color: #f6f6f9; }

.btn-black {
  color: #fff;
  background-color: #110f24;
  border-color: #110f24; }

.btn-dark {
  color: #110f24;
  background-color: #ccced0;
  border-color: #ccced0; }

.btn-medium {
  color: #110f24;
  background-color: #ececee;
  border-color: #ececee; }

.btn-white {
  color: #110f24;
  background-color: #fff;
  border-color: #fff; }

.btn-lg {
  padding: 8px 16px !important;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px; }

.btn-md {
  padding: 8px 12px !important;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px; }

.btn-sm {
  padding: 4px 8px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 4px; }

.tag-primary {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #176bfb;
  border: 1px solid #176bfb;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-success {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #3ca455;
  border: 1px solid #3ca455;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-warning {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #e67337;
  border: 1px solid #e67337;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-danger {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #c84040;
  border: 1px solid #c84040;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-light {
  display: inline-block;
  color: #110f24;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #f6f6f9;
  border: 1px solid #f6f6f9;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-black {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #110f24;
  border: 1px solid #110f24;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-dark {
  display: inline-block;
  color: #110f24;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #ccced0;
  border: 1px solid #ccced0;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-medium {
  opacity: 0.4;
  display: inline-block;
  color: #110f24;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #ececee;
  border: 1px solid #ececee;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.tag-white {
  display: inline-block;
  color: #110f24;
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  border: 1px solid #fff;
  padding: 2px 10px !important;
  font-size: 11px;
  line-height: 16px;
  border-radius: 100px; }

.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin: -8px;
  margin-left: auto;
  margin-right: auto; }

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px; }

.no-wrap {
  flex-wrap: nowrap; }

.wrap-reserve {
  flex-wrap: wrap-reverse; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

.col-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 8.33333%; }

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 8.33333%; } }

.col-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-2 {
  flex: 0 0 16.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 16.66667%; }

@media (min-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 16.66667%; } }

.col-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-3 {
  flex: 0 0 25%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 25%; }

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%; } }

.col-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-4 {
  flex: 0 0 33.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 33.33333%; }

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 33.33333%; } }

.col-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-5 {
  flex: 0 0 41.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 41.66667%; }

@media (min-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 41.66667%; } }

.col-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-6 {
  flex: 0 0 50%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 50%; }

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%; } }

.col-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-7 {
  flex: 0 0 58.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 58.33333%; }

@media (min-width: 576px) {
  .col-sm-7 {
    flex: 0 0 58.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 58.33333%; } }

.col-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-8 {
  flex: 0 0 66.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 66.66667%; }

@media (min-width: 576px) {
  .col-sm-8 {
    flex: 0 0 66.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 66.66667%; } }

.col-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-9 {
  flex: 0 0 75%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 75%; }

@media (min-width: 576px) {
  .col-sm-9 {
    flex: 0 0 75%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 75%; } }

.col-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-10 {
  flex: 0 0 83.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 83.33333%; }

@media (min-width: 576px) {
  .col-sm-10 {
    flex: 0 0 83.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 83.33333%; } }

.col-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-11 {
  flex: 0 0 91.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 91.66667%; }

@media (min-width: 576px) {
  .col-sm-11 {
    flex: 0 0 91.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 91.66667%; } }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-sm-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

@media (min-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

.col-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 8.33333%; }

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 8.33333%; } }

.col-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-2 {
  flex: 0 0 16.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 16.66667%; }

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 16.66667%; } }

.col-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-3 {
  flex: 0 0 25%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 25%; }

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%; } }

.col-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-4 {
  flex: 0 0 33.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 33.33333%; }

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 33.33333%; } }

.col-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-5 {
  flex: 0 0 41.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 41.66667%; }

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 41.66667%; } }

.col-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-6 {
  flex: 0 0 50%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 50%; }

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%; } }

.col-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-7 {
  flex: 0 0 58.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 58.33333%; }

@media (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 58.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 58.33333%; } }

.col-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-8 {
  flex: 0 0 66.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 66.66667%; }

@media (min-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 66.66667%; } }

.col-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-9 {
  flex: 0 0 75%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 75%; }

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 75%; } }

.col-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-10 {
  flex: 0 0 83.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 83.33333%; }

@media (min-width: 768px) {
  .col-md-10 {
    flex: 0 0 83.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 83.33333%; } }

.col-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-11 {
  flex: 0 0 91.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 91.66667%; }

@media (min-width: 768px) {
  .col-md-11 {
    flex: 0 0 91.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 91.66667%; } }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-md-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

@media (min-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

.col-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 8.33333%; }

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 8.33333%; } }

.col-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-2 {
  flex: 0 0 16.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 16.66667%; }

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 16.66667%; } }

.col-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-3 {
  flex: 0 0 25%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 25%; }

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%; } }

.col-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-4 {
  flex: 0 0 33.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 33.33333%; }

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 33.33333%; } }

.col-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-5 {
  flex: 0 0 41.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 41.66667%; }

@media (min-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 41.66667%; } }

.col-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-6 {
  flex: 0 0 50%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 50%; }

@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%; } }

.col-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-7 {
  flex: 0 0 58.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 58.33333%; }

@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 58.33333%; } }

.col-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-8 {
  flex: 0 0 66.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 66.66667%; }

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 66.66667%; } }

.col-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-9 {
  flex: 0 0 75%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 75%; }

@media (min-width: 992px) {
  .col-lg-9 {
    flex: 0 0 75%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 75%; } }

.col-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-10 {
  flex: 0 0 83.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 83.33333%; }

@media (min-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 83.33333%; } }

.col-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-11 {
  flex: 0 0 91.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 91.66667%; }

@media (min-width: 992px) {
  .col-lg-11 {
    flex: 0 0 91.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 91.66667%; } }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-lg-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

@media (min-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.col-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-1 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 8.33333%; }

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 8.33333%; } }

.col-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-2 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-2 {
  flex: 0 0 16.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 16.66667%; }

@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 16.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 16.66667%; } }

.col-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-3 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-3 {
  flex: 0 0 25%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 25%; }

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 25%; } }

.col-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-4 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-4 {
  flex: 0 0 33.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 33.33333%; }

@media (min-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 33.33333%; } }

.col-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-5 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-5 {
  flex: 0 0 41.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 41.66667%; }

@media (min-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 41.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 41.66667%; } }

.col-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-6 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-6 {
  flex: 0 0 50%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 50%; }

@media (min-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%; } }

.col-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-7 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-7 {
  flex: 0 0 58.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 58.33333%; }

@media (min-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 58.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 58.33333%; } }

.col-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-8 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-8 {
  flex: 0 0 66.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 66.66667%; }

@media (min-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 66.66667%; } }

.col-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-9 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-9 {
  flex: 0 0 75%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 75%; }

@media (min-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 75%; } }

.col-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-10 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-10 {
  flex: 0 0 83.33333%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 83.33333%; }

@media (min-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 83.33333%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 83.33333%; } }

.col-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-11 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-11 {
  flex: 0 0 91.66667%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 91.66667%; }

@media (min-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 91.66667%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 91.66667%; } }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-xl-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

.col-12 {
  flex: 0 0 100%;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100%; }

@media (min-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 100%; } }

.alert {
  position: relative;
  padding: 12px 16px;
  color: #fff; }
  .alert .close {
    padding-right: 16px;
    height: 100%;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center; }

.alert-primary {
  border-radius: 4px;
  background: #110f24;
  border: 1px solid #110f24; }

.alert-success {
  border-radius: 4px;
  background: #3ca455;
  border: 1px solid #3ca455; }

.alert-warning {
  border-radius: 4px;
  background: #e67337;
  border: 1px solid #e67337; }

.alert-danger {
  border-radius: 4px;
  background: #c84040;
  border: 1px solid #c84040; }

.icon-account {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/account.svg");
  mask-image: url("../svg/account.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-add {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/add.svg");
  mask-image: url("../svg/add.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-alarm {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/alarm.svg");
  mask-image: url("../svg/alarm.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-align-center {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/align-center.svg");
  mask-image: url("../svg/align-center.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-align-justify {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/align-justify.svg");
  mask-image: url("../svg/align-justify.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-align-left {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/align-left.svg");
  mask-image: url("../svg/align-left.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-align-right {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/align-right.svg");
  mask-image: url("../svg/align-right.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-arrow-down {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/arrow-down.svg");
  mask-image: url("../svg/arrow-down.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-arrow-left {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/arrow-left.svg");
  mask-image: url("../svg/arrow-left.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-arrow-right {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/arrow-right.svg");
  mask-image: url("../svg/arrow-right.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-arrow-up {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/arrow-up.svg");
  mask-image: url("../svg/arrow-up.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-aspect-ratio {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/aspect-ratio.svg");
  mask-image: url("../svg/aspect-ratio.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-attach-file {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/attach-file.svg");
  mask-image: url("../svg/attach-file.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-backup {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/backup.svg");
  mask-image: url("../svg/backup.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-book {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/book.svg");
  mask-image: url("../svg/book.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-bookmark {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/bookmark.svg");
  mask-image: url("../svg/bookmark.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-brush {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/brush.svg");
  mask-image: url("../svg/brush.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-build {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/build.svg");
  mask-image: url("../svg/build.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-calendar {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/calendar.svg");
  mask-image: url("../svg/calendar.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-calendar-available {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/calendar-available.svg");
  mask-image: url("../svg/calendar-available.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-calendar-busy {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/calendar-busy.svg");
  mask-image: url("../svg/calendar-busy.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-calendar-event {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/calendar-event.svg");
  mask-image: url("../svg/calendar-event.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-camera {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/camera.svg");
  mask-image: url("../svg/camera.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-camera-add {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/camera-add.svg");
  mask-image: url("../svg/camera-add.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-camera-enhance {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/camera-enhance.svg");
  mask-image: url("../svg/camera-enhance.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-camera-switch {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/camera-switch.svg");
  mask-image: url("../svg/camera-switch.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-card-credit {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/card-credit.svg");
  mask-image: url("../svg/card-credit.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-card-giftcard {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/card-giftcard.svg");
  mask-image: url("../svg/card-giftcard.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-cart {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/cart.svg");
  mask-image: url("../svg/cart.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chart-bar {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chart-bar.svg");
  mask-image: url("../svg/chart-bar.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chart-bubble {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chart-bubble.svg");
  mask-image: url("../svg/chart-bubble.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chart-line {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chart-line.svg");
  mask-image: url("../svg/chart-line.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chart-multiline {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chart-multiline.svg");
  mask-image: url("../svg/chart-multiline.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chart-pie {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chart-pie.svg");
  mask-image: url("../svg/chart-pie.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-chat {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/chat.svg");
  mask-image: url("../svg/chat.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-check {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/check.svg");
  mask-image: url("../svg/check.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-check-all {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/check-all.svg");
  mask-image: url("../svg/check-all.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-checkbox-checked {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/checkbox-checked.svg");
  mask-image: url("../svg/checkbox-checked.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-checkbox-indeterminate {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/checkbox-indeterminate.svg");
  mask-image: url("../svg/checkbox-indeterminate.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-checkbox-unchecked {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/checkbox-unchecked.svg");
  mask-image: url("../svg/checkbox-unchecked.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-clear {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/clear.svg");
  mask-image: url("../svg/clear.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-color {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/color.svg");
  mask-image: url("../svg/color.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-copyright {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/copyright.svg");
  mask-image: url("../svg/copyright.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-crop {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/crop.svg");
  mask-image: url("../svg/crop.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-dashboard {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/dashboard.svg");
  mask-image: url("../svg/dashboard.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-delete {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/delete.svg");
  mask-image: url("../svg/delete.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions.svg");
  mask-image: url("../svg/directions.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-bike {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-bike.svg");
  mask-image: url("../svg/directions-bike.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-boat {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-boat.svg");
  mask-image: url("../svg/directions-boat.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-bus {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-bus.svg");
  mask-image: url("../svg/directions-bus.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-car {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-car.svg");
  mask-image: url("../svg/directions-car.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-subway {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-subway.svg");
  mask-image: url("../svg/directions-subway.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-directions-walk {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/directions-walk.svg");
  mask-image: url("../svg/directions-walk.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-download {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/download.svg");
  mask-image: url("../svg/download.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-drag-handle {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/drag-handle.svg");
  mask-image: url("../svg/drag-handle.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-duplicate {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/duplicate.svg");
  mask-image: url("../svg/duplicate.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-edit {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/edit.svg");
  mask-image: url("../svg/edit.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-eject {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/eject.svg");
  mask-image: url("../svg/eject.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-email {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/email.svg");
  mask-image: url("../svg/email.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-error {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/error.svg");
  mask-image: url("../svg/error.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-euro {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/euro.svg");
  mask-image: url("../svg/euro.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-eye {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/eye.svg");
  mask-image: url("../svg/eye.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-face {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/face.svg");
  mask-image: url("../svg/face.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-face-happy {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/face-happy.svg");
  mask-image: url("../svg/face-happy.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-face-sad {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/face-sad.svg");
  mask-image: url("../svg/face-sad.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-favorite {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/favorite.svg");
  mask-image: url("../svg/favorite.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-favorite-empty {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/favorite-empty.svg");
  mask-image: url("../svg/favorite-empty.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-file {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/file.svg");
  mask-image: url("../svg/file.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-filter {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/filter.svg");
  mask-image: url("../svg/filter.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-fingerprint {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/fingerprint.svg");
  mask-image: url("../svg/fingerprint.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-flag {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/flag.svg");
  mask-image: url("../svg/flag.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-folder {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/folder.svg");
  mask-image: url("../svg/folder.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-folder-new {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/folder-new.svg");
  mask-image: url("../svg/folder-new.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-folder-open {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/folder-open.svg");
  mask-image: url("../svg/folder-open.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-folder-shared {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/folder-shared.svg");
  mask-image: url("../svg/folder-shared.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-fullscreen {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/fullscreen.svg");
  mask-image: url("../svg/fullscreen.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-fullscreen-exit {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/fullscreen-exit.svg");
  mask-image: url("../svg/fullscreen-exit.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-globe {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/globe.svg");
  mask-image: url("../svg/globe.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-gps-fixed {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/gps-fixed.svg");
  mask-image: url("../svg/gps-fixed.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-gps-not-fixed {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/gps-not-fixed.svg");
  mask-image: url("../svg/gps-not-fixed.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-gps-off {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/gps-off.svg");
  mask-image: url("../svg/gps-off.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-grid {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/grid.svg");
  mask-image: url("../svg/grid.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-help {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/help.svg");
  mask-image: url("../svg/help.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-history {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/history.svg");
  mask-image: url("../svg/history.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-hot {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/hot.svg");
  mask-image: url("../svg/hot.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-image {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/image.svg");
  mask-image: url("../svg/image.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-inbox {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/inbox.svg");
  mask-image: url("../svg/inbox.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-info {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/info.svg");
  mask-image: url("../svg/info.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-link {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/link.svg");
  mask-image: url("../svg/link.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-list {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/list.svg");
  mask-image: url("../svg/list.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-loading {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/loading.svg");
  mask-image: url("../svg/loading.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-location {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/location.svg");
  mask-image: url("../svg/location.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-location-add {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/location-add.svg");
  mask-image: url("../svg/location-add.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-lock {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/lock.svg");
  mask-image: url("../svg/lock.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-map {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/map.svg");
  mask-image: url("../svg/map.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-forward {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-forward.svg");
  mask-image: url("../svg/media-forward.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-next {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-next.svg");
  mask-image: url("../svg/media-next.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-pause {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-pause.svg");
  mask-image: url("../svg/media-pause.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-play {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-play.svg");
  mask-image: url("../svg/media-play.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-previous {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-previous.svg");
  mask-image: url("../svg/media-previous.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-repeat {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-repeat.svg");
  mask-image: url("../svg/media-repeat.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-repeat-one {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-repeat-one.svg");
  mask-image: url("../svg/media-repeat-one.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-rewind {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-rewind.svg");
  mask-image: url("../svg/media-rewind.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-shuffle {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-shuffle.svg");
  mask-image: url("../svg/media-shuffle.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-media-stop {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/media-stop.svg");
  mask-image: url("../svg/media-stop.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-menu {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/menu.svg");
  mask-image: url("../svg/menu.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-mic {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/mic.svg");
  mask-image: url("../svg/mic.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-more {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/more.svg");
  mask-image: url("../svg/more.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-movie {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/movie.svg");
  mask-image: url("../svg/movie.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-music {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/music.svg");
  mask-image: url("../svg/music.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-navigation {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/navigation.svg");
  mask-image: url("../svg/navigation.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-notifications {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/notifications.svg");
  mask-image: url("../svg/notifications.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-phone {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/phone.svg");
  mask-image: url("../svg/phone.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-plane {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/plane.svg");
  mask-image: url("../svg/plane.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-print {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/print.svg");
  mask-image: url("../svg/print.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-radio-checked {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/radio-checked.svg");
  mask-image: url("../svg/radio-checked.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-radio-unchecked {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/radio-unchecked.svg");
  mask-image: url("../svg/radio-unchecked.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-receipt {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/receipt.svg");
  mask-image: url("../svg/receipt.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-redo {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/redo.svg");
  mask-image: url("../svg/redo.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-remove {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/remove.svg");
  mask-image: url("../svg/remove.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-reply {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/reply.svg");
  mask-image: url("../svg/reply.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-reply-all {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/reply-all.svg");
  mask-image: url("../svg/reply-all.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-rotate-left {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/rotate-left.svg");
  mask-image: url("../svg/rotate-left.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-rotate-right {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/rotate-right.svg");
  mask-image: url("../svg/rotate-right.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-school {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/school.svg");
  mask-image: url("../svg/school.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-search {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/search.svg");
  mask-image: url("../svg/search.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-send {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/send.svg");
  mask-image: url("../svg/send.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-settings {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/settings.svg");
  mask-image: url("../svg/settings.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-share {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/share.svg");
  mask-image: url("../svg/share.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-sort {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/sort.svg");
  mask-image: url("../svg/sort.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-star {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/star.svg");
  mask-image: url("../svg/star.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-star-empty {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/star-empty.svg");
  mask-image: url("../svg/star-empty.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-star-half {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/star-half.svg");
  mask-image: url("../svg/star-half.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-storage {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/storage.svg");
  mask-image: url("../svg/storage.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-swap-horiz {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/swap-horiz.svg");
  mask-image: url("../svg/swap-horiz.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-swap-vert {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/swap-vert.svg");
  mask-image: url("../svg/swap-vert.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-sync {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/sync.svg");
  mask-image: url("../svg/sync.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-tag {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/tag.svg");
  mask-image: url("../svg/tag.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-thumb-down {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/thumb-down.svg");
  mask-image: url("../svg/thumb-down.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-thumb-up {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/thumb-up.svg");
  mask-image: url("../svg/thumb-up.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-ticket {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/ticket.svg");
  mask-image: url("../svg/ticket.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-time {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/time.svg");
  mask-image: url("../svg/time.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-trending-down {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/trending-down.svg");
  mask-image: url("../svg/trending-down.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-trending-flat {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/trending-flat.svg");
  mask-image: url("../svg/trending-flat.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-trending-up {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/trending-up.svg");
  mask-image: url("../svg/trending-up.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-undo {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/undo.svg");
  mask-image: url("../svg/undo.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-upload {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/upload.svg");
  mask-image: url("../svg/upload.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-user {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/user.svg");
  mask-image: url("../svg/user.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-user-add {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/user-add.svg");
  mask-image: url("../svg/user-add.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-user-group {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/user-group.svg");
  mask-image: url("../svg/user-group.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-user-group-add {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/user-group-add.svg");
  mask-image: url("../svg/user-group-add.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-videocam {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/videocam.svg");
  mask-image: url("../svg/videocam.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-volume-down {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/volume-down.svg");
  mask-image: url("../svg/volume-down.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-volume-mute {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/volume-mute.svg");
  mask-image: url("../svg/volume-mute.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-volume-off {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/volume-off.svg");
  mask-image: url("../svg/volume-off.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-volume-up {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/volume-up.svg");
  mask-image: url("../svg/volume-up.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-wifi {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/wifi.svg");
  mask-image: url("../svg/wifi.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-zoom-in {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/zoom-in.svg");
  mask-image: url("../svg/zoom-in.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-zoom-out {
  display: inline-block;
  background-color: #110f24;
  width: 24px;
  height: 24px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../svg/zoom-out.svg");
  mask-image: url("../svg/zoom-out.svg");
  -webkit-mask-size: cover;
  mask-size: cover; }

.icon-lg {
  width: 24px;
  height: 24px; }

.icon-md {
  width: 20px;
  height: 20px; }

.icon-sm {
  width: 16px;
  height: 16px; }

.icon-xs {
  width: 14px;
  height: 14px; }

.avatar {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background: #110f24;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%; }
  .avatar-wrap {
    position: relative;
    width: 40px;
    height: 40px; }
  .avatar * {
    background-color: #fff;
    border-radius: 50%; }
  .avatar-profile {
    background: unset; }
    .avatar-profile-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute; }
  .avatar.avatar-active {
    background: unset; }
  .avatar-active:before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: green;
    border: 2px solid #ffffff;
    content: '';
    right: 0;
    bottom: 0;
    z-index: 5;
    border-radius: 50%; }

.form-group-lg, .form-group-lg .form-lg, .form-group-md, .form-group-md .form-md, .form-group-sm, .form-group-sm .form-sm {
  background: #f6f6f9;
  border: 1px solid #ececee;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%; }

.form-group-lg {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 12px; }
  .form-group-lg:disabled {
    background: #ececee;
    border: #ececee; }
  .form-group-lg .form-lg {
    background: transparent;
    border: none; }
    .form-group-lg .form-lg:focus {
      outline: none; }
  .form-group-lg i {
    width: 24px;
    height: 24px; }

.form-left-lg {
  margin-right: 12px; }

.form-group-md {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 10px; }
  .form-group-md:disabled {
    background: #ececee;
    border: #ececee; }
  .form-group-md .form-md {
    background: transparent;
    border: none; }
    .form-group-md .form-md:focus {
      outline: none; }
  .form-group-md i {
    width: 16px;
    height: 16px; }

.form-left-md {
  margin-right: 10px; }

.form-group-sm {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 8px; }
  .form-group-sm:disabled {
    background: #ececee;
    border: #ececee; }
  .form-group-sm .form-sm {
    background: transparent;
    border: none; }
    .form-group-sm .form-sm:focus {
      outline: none; }
  .form-group-sm i {
    width: 16px;
    height: 16px; }

.form-left-sm {
  margin-right: 8px; }

.form-label {
  margin-bottom: 8px; }

.form-description {
  margin-top: 8px;
  opacity: 0.4; }

.form-active {
  caret-color: #176bfb; }

.form-error-icon {
  display: none; }

.form-error * {
  color: #c84040 !important; }

.form-error-icon {
  background-color: #c84040;
  display: block; }

.form-success-icon {
  display: none; }

.form-success * {
  color: #3ca455 !important; }

.form-success-icon {
  background-color: #3ca455;
  display: block; }

.form-checkbox {
  position: relative; }
  .form-checkbox-label {
    cursor: pointer;
    position: relative;
    padding-left: 10px; }
    .form-checkbox-label::before {
      cursor: pointer;
      position: absolute;
      top: -4px;
      left: -24px;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background-color: #ececee;
      border: 1px solid #ececee;
      border-radius: 4px; }
    .form-checkbox-label::after {
      cursor: pointer;
      position: absolute;
      content: '';
      top: -2px;
      left: -21px;
      width: 21px;
      height: 15.63px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover; }
  .form-checkbox-input {
    opacity: 0; }
    .form-checkbox-input:checked ~ .form-checkbox-label::before {
      background-color: #176bfb;
      border: 1px solid #176bfb; }
    .form-checkbox-input:checked ~ .form-checkbox-label::after {
      -webkit-mask-image: url(../svg/check.svg);
      mask-image: url(../svg/check.svg);
      background-color: #fff; }
    .form-checkbox-input:indeterminate ~ .form-checkbox-label::before {
      background-color: #176bfb;
      border: 1px solid #176bfb; }
    .form-checkbox-input:indeterminate ~ .form-checkbox-label::after {
      -webkit-mask-image: url(../svg/remove.svg);
      mask-image: url(../svg/remove.svg);
      background-color: #fff;
      top: -1px;
      left: -22px; }

.form-radio *::before {
  border-radius: 50% !important; }

.form-radio .form-checkbox-input:indeterminate ~ .form-checkbox-label::before,
.form-radio .form-checkbox-input:indeterminate ~ .form-checkbox-label::after {
  background-color: #ececee;
  border: 1px solid #ececee; }

.form-toggle .form-checkbox-label::before {
  width: 54px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #ececee;
  background: #ececee;
  top: -9px; }

.form-toggle .form-checkbox-label::after {
  background-color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: -7px; }

.form-toggle .form-checkbox-label {
  padding-left: 40px; }

.form-toggle .form-checkbox-input:checked ~ .form-checkbox-label::before {
  background-color: #176bfb; }

.form-toggle .form-checkbox-input:checked ~ .form-checkbox-label::after {
  -webkit-mask-image: unset;
  mask-image: unset;
  left: 2px; }

.dropdown {
  position: relative; }

.box {
  border: 1px solid #ececee; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 8px 0;
  margin: 16px 0 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #110F24;
  background-clip: padding-box;
  border: 1px solid #110F24;
  border-radius: 4px; }

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  text-align: inherit;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px 16px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 0; }

.arrow-down {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: -13px;
  right: 47px;
  border: 6px solid transparent;
  border-bottom-color: #110F24; }

.btn:focus + div.dropdown-menu {
  display: block; }

.dropdown-menu-lg {
  font-size: 16px;
  min-width: 120px;
  padding: 0 0; }

.dropdown-menu-md {
  font-size: 14px;
  min-width: 120px;
  padding: 0 0; }

.dropdown-menu-sm {
  font-size: 11px;
  min-width: 120px;
  padding: 0 0; }

.arrow-lg {
  right: 47px; }

.arrow-md {
  right: 24px; }

.arrow-sm {
  right: 44px; }

.pagination-wrap-lg, .pagination-wrap-md, .pagination-wrap-sm {
  background: #f6f6f9;
  border: 1px solid #ececee;
  box-sizing: border-box;
  border-radius: 4px;
  width: fit-content; }

.pagination-wrap-lg {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 12px; }
  .pagination-wrap-lg ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .pagination-wrap-lg ul li {
      list-style: none;
      display: flex;
      align-items: center; }
      .pagination-wrap-lg ul li a {
        text-decoration: none; }
  .pagination-wrap-lg i {
    width: 20px;
    height: 24px; }
  .pagination-wrap-lg .pagination-link {
    width: 32px;
    height: 32px; }
  .pagination-wrap-lg .pagination-previous {
    margin-right: 20px; }
  .pagination-wrap-lg .pagination-next {
    margin-left: 20px; }
  .pagination-wrap-lg .pagination-previous,
  .pagination-wrap-lg .pagination-next {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .pagination-wrap-lg .pagination-previous.disabled,
    .pagination-wrap-lg .pagination-next.disabled {
      opacity: 0.4;
      cursor: not-allowed; }

.pagination-wrap-md {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 10px; }
  .pagination-wrap-md ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .pagination-wrap-md ul li {
      list-style: none;
      display: flex;
      align-items: center; }
      .pagination-wrap-md ul li a {
        text-decoration: none; }
  .pagination-wrap-md i {
    width: 12px;
    height: 16px; }
  .pagination-wrap-md .pagination-link {
    width: 24px;
    height: 24px; }
  .pagination-wrap-md .pagination-previous {
    margin-right: 16px; }
  .pagination-wrap-md .pagination-next {
    margin-left: 16px; }
  .pagination-wrap-md .pagination-previous,
  .pagination-wrap-md .pagination-next {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .pagination-wrap-md .pagination-previous.disabled,
    .pagination-wrap-md .pagination-next.disabled {
      opacity: 0.4;
      cursor: not-allowed; }

.pagination-wrap-sm {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 8px; }
  .pagination-wrap-sm ul {
    display: flex;
    margin: 0;
    padding: 0; }
    .pagination-wrap-sm ul li {
      list-style: none;
      display: flex;
      align-items: center; }
      .pagination-wrap-sm ul li a {
        text-decoration: none; }
  .pagination-wrap-sm i {
    width: 12px;
    height: 16px; }
  .pagination-wrap-sm .pagination-link {
    width: 16px;
    height: 16px; }
  .pagination-wrap-sm .pagination-previous {
    margin-right: 12px; }
  .pagination-wrap-sm .pagination-next {
    margin-left: 12px; }
  .pagination-wrap-sm .pagination-previous,
  .pagination-wrap-sm .pagination-next {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .pagination-wrap-sm .pagination-previous.disabled,
    .pagination-wrap-sm .pagination-next.disabled {
      opacity: 0.4;
      cursor: not-allowed; }

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0 1px;
  cursor: pointer; }
  .pagination-link.active, .pagination-link.active:hover {
    background: #176bfb;
    color: #fff; }
  .pagination-link:hover {
    background: #b9cef1;
    color: #fff; }

.card {
  color: #110f24;
  text-align: left;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  width: 100%;
  font-family: "Lato", sans-serif; }
  .card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    box-shadow: 0px -1px 0px #fff;
    background-color: #ececee; }
    .card .card-header .card-title {
      color: #110f24;
      font-size: 16px;
      line-height: 24px;
      font-weight: 900; }
    .card .card-header .btn-card {
      padding: 0 !important;
      background-color: #f6f6f9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 4px; }
  .card .card-body {
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    .card .card-body .card-content {
      font-size: 16px !important;
      padding: 16px 16px; }
    .card .card-body .card-item {
      font-size: 14px;
      background-color: #ececee;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #fff; }
  .card .card-button {
    padding: 8px 12px;
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background-color: #176bfb;
    border-radius: 4px; }

.width-md {
  width: 25%; }

.d-flex {
  display: flex;
  align-items: center; }

.progress-bar {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: #ececee; }
  .progress-bar-wrap {
    height: 4px;
    position: relative; }
  .progress-bar-state {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    border-radius: 2px;
    background: #c84040; }

.progress-bar-state-danger {
  background: #c84040; }

.progress-bar-state-warning {
  background: #e67337; }

.progress-bar-state-success {
  background: #3ca455; }

.table {
  width: 100%;
  background-color: #ececee;
  color: #110f24;
  border-radius: 4px; }
  .table tr th, .table tr td {
    padding: 16px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: left; }
    .table tr th .form-checkbox-label::before, .table tr td .form-checkbox-label::before {
      width: 20px;
      height: 20px;
      border: 2px solid #94949d; }
    .table tr th .form-checkbox-label::after, .table tr td .form-checkbox-label::after {
      width: 17px; }
  .table tr th:first-child {
    width: 30%; }
  .table tr td:last-child,
  .table tr th:last-child {
    text-align: right;
    width: 25%; }
  .table tr td.table-time {
    opacity: 0.4; }

.table-col {
  display: flex;
  align-items: center; }

.tab-wrap {
  width: 100%;
  border: 1px solid #ececee;
  box-sizing: border-box;
  border-radius: 4px; }

.tab-header {
  display: flex;
  background: rgba(255, 255, 255, 0.0001);
  box-shadow: 0px 1px 0px #ececee;
  border: none; }

.tab-body {
  display: none;
  padding: 32px 16px;
  background: rgba(255, 255, 255, 0.0001); }
  .tab-body-hide {
    display: none; }
  .tab-body-show {
    display: block; }

.tab-item {
  padding: 12px 16px;
  opacity: 0.4;
  text-decoration: none; }
  .tab-item.active {
    border-bottom: 2px solid #110f24;
    opacity: 1; }
  .tab-item-center {
    display: flex;
    justify-content: center; }
  .tab-item-nodata {
    opacity: 0.4; }

.notification {
  padding: 16px 12px;
  color: #fff;
  background: transparent;
  text-align: center; }

.notification-primary {
  background: #110f24;
  border: 1px solid #110f24; }

.notification-success {
  background: #3ca455;
  border: 1px solid #3ca455; }

.notification-warning {
  background: #e67337;
  border: 1px solid #e67337; }

.notification-danger {
  background: #c84040;
  border: 1px solid #c84040; }

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background-color: #000;
  opacity: 0.6; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }
  .modal .modal-content {
    position: relative;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    background: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px; }

.modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ececee;
  padding: 12px 16px;
  border: 1px solid #ececee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .modal-header .modal-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 900; }
  .modal-header .btn-close-modal {
    border: 0;
    background: transparent; }

.modal-body {
  padding: 16px 16px 0;
  font-size: 16px; }

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px; }
