@import './cards.variable';

.card {
    color: $color-text;
    text-align: left;
    box-shadow: 0px $gutter/2 $gutter*2 rgba(0, 0, 0, 0.05);
    @include border-radius($border-radius-md);
    width: 100%;
    font-family: $font-family-base;
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $gutter*1.5 $gutter*2;
      box-shadow: 0px -1px 0px $color-white;
      background-color: $card-bg-color;
      .card-title {
        color: $color-text;
        font-size: $text-regular;
        line-height: $text-normal;
        font-weight: $font-extra;
      }
      .btn-card {
          padding: 0 !important;
          background-color: $color-light;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          @include border-radius($border-radius-md);
      }
    }
    .card-body {
      background-color: $color-white;
      @include border-bottom-radius($border-radius-md);
      .card-content {
          font-size: $text-regular !important;
          padding: $gutter*2 $gutter*2;
      }
      .card-item {
          font-size: $text-sm;
          background-color: $card-bg-color;
          padding: $gutter*2;
          display: flex;
          justify-content: space-between;
          border-top: $border-width solid $color-white;
      }
    }
    .card-button {
      padding: $gutter $gutter*1.5;
      margin-top: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      cursor: pointer;
      background-color: $card-btn-color;
      @include border-radius($border-radius-md);
    }
  }

  .width-md {
    width: $widths/4;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }