@import './color.mixin';

// color text
@each $color, $value in $theme-colors {
  @if ($value != 'opacity') {
    .text-#{$color} {
      @include text-color($value);
    }
  }
}

//color background
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    @include bg-color($value);
  }
}
