@import './variables';
@import './icon.mixin';

@each $icon, $value in $list-icon {
    .icon-#{$icon} {
        @include icon($color-text, $width-icon, $height-icon);
        -webkit-mask-image: url($value);
        mask-image: url($value);
        -webkit-mask-size: cover;
        mask-size: cover;
    }
}

@each $size, $value in $icon-size {
    .icon-#{$size} {
        @include icon-size($value, $value);
    }
}