@mixin icon($bg-color, $width-icon, $height-icon) {
    display: inline-block;
    background-color: $bg-color;
    width: $width-icon;
    height: $height-icon;
    -webkit-mask-repeat: no-repeat;
}

@mixin icon-size($width, $height) {
    width: $width;
    height: $height;
}