.close {
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &::before {
    content: '\00d7';
    cursor: pointer;
  }
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  height: 100%;
  &:focus {
    outline: none;
  }
}
a.close.disabled {
  pointer-events: none;
}
