// colors

$color-primary: #176bfb;
$color-success: #3ca455;
$color-warning: #e67337;
$color-danger: #c84040;
$color-text: #110f24;
$color-dark: #ccced0;
$color-medium: #ececee;
$color-light: #f6f6f9;
$color-white: #fff;
$color-bg-opa: rgba(255, 255, 255, 0.0001);
$color-bg: #f2f2f2;

$theme-colors: (
  'primary': $color-primary,
  'success': $color-success,
  'warning': $color-warning,
  'danger': $color-danger,
  'light': $color-light,
  'black': $color-text,
  'dark': $color-dark,
  'medium': $color-medium,
  'white': $color-white
);

// typography

// border
$border-width: 1px;
$border-color: $color-light;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 100px;
$border-radius-circle: 50%;

$enable-rounded: true;
$theme-border: (
  'sm' $border-radius-sm,
  'md' $border-radius-md,
  'lg' $border-radius-lg,
  'circle' $border-radius-circle
);
//padding, margin

$opacity-base: 0.2;
$opacity-md: 0.4;
$gutter: 8px;
$gutter-1: 4px;
$gutter-2: 8px;
$gutter-3: 16px;
$gutter-4: 24px;
$gutter-5: 32px;
$gutter-6: 56px;
