$color-notification: $color-white;
$width-notification: 100%;
$notification-padding-x: 16px;
$notification-padding-y: 12px;
$notification-border-width: 1px;

$theme-notify: (
  'primary': $color-text,
  'success': $color-success,
  'warning': $color-warning,
  'danger': $color-danger
);
