@import './notifications.variable';

.notification {
    padding: $notification-padding-x $notification-padding-y;
    color: $color-notification;
    background: transparent;
    text-align: center;
}

@each $name, $color in $theme-notify {
    .notification-#{$name} {
        background: $color;
        border: $notification-border-width solid $color;
    }
}