@import './avatar.variable';

.avatar {
  width: 100%;
  height: 100%;
  border: $avatar-border-width solid $avatar-border-color;
  background: $avatar-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $avatar-color;
  @include border-radius($avatar-border-radius);
  &-wrap {
    position: relative;
    width: $avatar-w;
    height: $avatar-h;
  }
  & * {
    background-color: $avatar-color;
    @include border-radius($avatar-border-radius);
  }
  &-profile {
    background: unset;
    &-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  &.avatar-active {
    background: unset;
  }
  &-active:before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: green;
    border: 2px solid #ffffff;
    content: '';
    right: 0;
    bottom: 0;
    z-index: 5;
    @include border-radius($avatar-border-radius);
  }
}
