$avatar-bg-color: $color-text;
$avatar-border-radius: $border-radius-circle;
$avatar-border-color: transparent;
$avatar-border-width: $border-width;
$avatar-color: $color-white;
$avatar-w: $gutter * 5;
$avatar-h: $gutter * 5;
$avatar-state-w: $gutter;
$avatar-state-h: $gutter;
