$pagination-pd-y: 4px;
$pagination-mx-lg: 20px;
$pagination-pd-x-lg: 12px;
$pagination-mx-md: 16px;
$pagination-pd-x-md: 10px;
$pagination-mx-sm: 12px;
$pagination-pd-x-sm: 8px;
$pagination-pd-y: 4px;
$pagination-bg-color: #f6f6f9;
$pagination-color: $color-medium;
$pagination-bd-radius: $border-radius-md;
$pagination-active-color: #176bfb;
$size-h-lg: 24px;
$size-w-lg: 20px;
$size-h-md: 16px;
$size-w-md: 12px;
$size-h-sm: 16px;
$size-w-sm: 12px;
$size-link-lg: 32px;
$size-link-md: 24px;
$size-link-sm: 16px;
$pagination-mb: 8px;
$pagination-mt: 8px;
$pagination-hover-color: #b9cef1;

$theme-pd: (
  'lg' $pagination-pd-x-lg $pagination-mx-lg $size-h-lg $size-w-lg $size-link-lg,
  'md' $pagination-pd-x-md $pagination-mx-md $size-h-md $size-w-md $size-link-md,
  'sm' $pagination-pd-x-sm $pagination-mx-sm $size-h-sm $size-w-sm $size-link-sm
);
