@import './paginations.variable';

%pagination-base {
  background: $pagination-bg-color;
  border: $border-width solid $pagination-color;
  box-sizing: border-box;
  border-radius: $pagination-bd-radius;
  width: fit-content;
}
@each $name, $pd-x, $mx, $height, $width, $size-link in $theme-pd {
  .pagination-wrap-#{$name} {
    @extend %pagination-base;
    @extend .text-regular-#{$name};
    position: relative;
    display: flex;
    align-items: center;
    padding: $pagination-pd-y $pd-x;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
        }
      }
    }
    i {
      width: $width;
      height: $height;
    }
    .pagination-link {
      width: $size-link;
      height: $size-link;
    }
    .pagination-previous {
      margin-right: $mx;
    }
    .pagination-next {
      margin-left: $mx;
    }
    .pagination-previous,
    .pagination-next {
      display: flex;
      align-items: center;
      cursor: pointer;
      &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $pagination-bd-radius;
  margin: 0 1px;
  cursor: pointer;
  &.active {
    background: $pagination-active-color;
    color: $color-white;
    &:hover {
      @extend .pagination-link.active;
    }
  }
  &:hover {
    background: $pagination-hover-color;
    color: $color-white;
  }
}
