$text-xxl: 48px;
$text-xl: 40px;
$text-lg: 32px;
$text-md: 27px;
$text-normal: 24px;
$text-normal-sm: 20px;
$text-regular: 16px;
$text-sm: 14px;
$text-xs: 11px;

$font-family-base: 'Lato', sans-serif;
$font-extra: 900;
$font-bold: bold;
$font-weight-normal: 400;
$font-normal: normal;

$text-size: $text-xxl, $text-xl, $text-lg, $text-md, $text-normal, $text-regular,
  $text-sm, $text-xs;
$theme-text: (
  '1' $text-xl $text-xxl,
  '2' $text-lg $text-xl,
  '3' $text-md $text-lg,
  '4' $text-regular $text-normal
);
$theme-text-1: (
  'lg' $text-regular $text-normal,
  'md' $text-sm $text-regular,
  'sm' $text-xs $text-regular
);
