@import './typography.variable';
%text-base {
  font-family: $font-family-base;
  color: $color-text;
  font-style: $font-normal;
  margin: 0;
}
p {
  @extend %text-base;
  font-weight: $font-normal;
  font-size: $text-normal-sm;
  line-height: $text-lg;
}
@each $name, $font-size, $line-height in $theme-text {
  h#{$name} {
    @extend %text-base;
    font-weight: $font-extra;
    font-size: $font-size;
    line-height: $line-height;
  }
  .h#{$name} {
    @extend h#{$name};
  }
}
@each $name, $font-size, $line-height in $theme-text-1 {
  .text-bold-#{$name} {
    @extend %text-base;
    font-weight: $font-bold;
    font-size: $font-size;
    line-height: $line-height;
  }
  .text-regular-#{$name} {
    @extend %text-base;
    font-weight: $font-normal;
    font-size: $font-size;
    line-height: $line-height;
  }
}
