@mixin create-col($col) {
  flex: 0 0 percentage($col/12);
  padding-left: $grid-l;
  padding-right: $grid-r;
  max-width: percentage($col/12);
}

@mixin make-break-container($breakpoint, $max-width) {
  @media (min-width: $breakpoint) {
    .container {
      max-width: $max-width;
    }
  }
}
@mixin make-col-responsive($break-point, $col) {
  @media (min-width: $break-point) {
    @include create-col($col);
  }
}
