$gutter: $gutter;
$grid-l: $gutter;
$grid-r: $gutter;
$grid-width-sm: 540px;
$grid-width-md: 720px;
$grid-width-lg: 960px;
$grid-width-xl: 1140px;
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 992px;
$break-point-xl: 1200px;

$container-max-widths: (
  'sm' $break-point-sm $grid-width-sm,
  'md' $break-point-md $grid-width-md,
  'lg' $break-point-lg $grid-width-lg,
  'xl' $break-point-xl $grid-width-xl
);
