@import './grid.variable';
@import './grid.mixin';

.container {
  width: 100%;
  padding-left: $grid-l;
  padding-right: $grid-r;
  margin: -$gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$grid-l;
  margin-right: -$grid-r;
}

.no-wrap {
  flex-wrap: nowrap;
}
.wrap-reserve {
  flex-wrap: wrap-reverse;
}

@each $name, $break-point, $grid-width in $container-max-widths {
  @include make-break-container($break-point, $grid-width);
  @for $i from 1 through 12 {
    .col-#{$i} {
      @include create-col(12);
    }
    .col-#{$name}-#{$i} {
      @include create-col(12);
    }
    .col-#{$i} {
      @include create-col($i);
    }
    .col-#{$name}-#{$i} {
      @include make-col-responsive($break-point, $i);
    }
  }
}
