@import './dropdowns.variable';
@import './dropdowns.mixin';

.dropdown {
    position: relative;
}

.box {
    border: $border-width solid $color-medium;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    display: none; 
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y 0;
    margin: $dropdown-spacer 0 0;
    font-family: $font-family-base;
    font-size: $text-regular;
    color: $color-white;
    text-align: left;
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $border-width solid $dropdown-border-color;
    @include border-radius($border-radius-md);
  }

  .dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    text-align: inherit;
    white-space: nowrap;
    text-decoration: none;
    @include dropdown-item($dropdown-item-padding-y, $dropdown-item-padding-x, $font-weight-normal, $color-white);
  }

  .arrow-down {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: $arrow-down-top;
    right: $arrow-down-right;
    border: $arrow-down-border solid transparent;
    border-bottom-color: $dropdown-bg;
  }

  .btn:focus + div.dropdown-menu {
      display: block;
  }

  
@each $size, $value in $list-size {
    .dropdown-menu-#{$size} {
        @include dropdown-size($value, $dropdown-with);
        padding: 0 0;
    }
}


@each $size, $value in $arrow-size {
    .arrow-#{$size} {
        @include arrow-size($value);
    }
}