$zindex-dropdown: 1000;
$dropdown-min-width: 160px;
$dropdown-with: 120px;
$dropdown-spacer: 16px;
$dropdown-padding-y: 8px;
$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 16px;
$arrow-down-top: -13px;
$arrow-down-right: 47px;
$arrow-top: -13px;
$arrow-border: 6px;
$arrow-down-border: 6px;
$dropdown-border-color: #110F24;
$dropdown-bg: #110F24;


$list-size: (
    'lg': 16px,
    'md': 14px,
    'sm': 11px
);

$arrow-size: (
    'lg': 47px,
    'md': 24px,
    'sm': 44px
);