@mixin dropdown-item($dropdown-item-padding-y, $dropdown-item-padding-x, $font-weight-normal, $color-text) {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    font-weight: $font-weight-normal;
    color: $color-text;
    background-color: transparent;
    border: 0;
}

@mixin dropdown-size($font-size, $dropdown-with) {
    font-size: $font-size;
    min-width: $dropdown-with;
}

@mixin arrow-size($right) {
    right: $right;
}