@import './forms.variable';
%form-base {
  background: $form-bg-color;
  border: $border-width solid $form-color;
  box-sizing: border-box;
  border-radius: $form-bd-radius;
  width: 100%;
}
@each $name, $pd-x, $pd-y, $size in $theme-pd {
  .form-group-#{$name} {
    @extend %form-base;
    position: relative;
    display: flex;
    align-items: center;
    padding: $pd-y $pd-x;
    &:disabled {
      background: $form-color;
      border: $form-color;
    }
    .form-#{$name} {
      @extend %form-base;
      @extend .text-regular-#{$name};
      background: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    i {
      width: $size;
      height: $size;
    }
  }
  .form-left-#{$name} {
    margin-right: $pd-x;
  }
}

.form-label {
  @extend .text-bold-lg;
  margin-bottom: $form-mb;
}
.form-description {
  @extend .text-regular-md;
  margin-top: $form-mt;
  opacity: $form-opacity;
}
.form-active {
  caret-color: $form-active-cursor;
}

@each $name, $color in $theme-state {
  .form-#{$name}-icon {
    display: none;
  }
  .form-#{$name} {
    * {
      color: $color !important;
    }
    &-icon {
      background-color: $color;
      display: block;
    }
  }
}
.form-checkbox {
  position: relative;
  &-label {
    cursor: pointer;
    position: relative;
    padding-left: $form-checkbox-pr;
    &::before {
      cursor: pointer;
      position: absolute;
      top: -4px;
      left: -$form-checkbox-size;
      display: block;
      width: $form-checkbox-size;
      height: $form-checkbox-size;
      content: '';
      background-color: $form-color;
      border: $border-width solid $form-color;
      border-radius: $form-bd-radius;
    }
    &::after {
      cursor: pointer;
      position: absolute;
      content: '';
      top: -2px;
      left: -21px;
      width: 21px;
      height: 15.63px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
  &-input {
    opacity: 0;
    &:checked {
      & ~ .form-checkbox-label::before {
        background-color: $form-checked-color;
        border: $border-width solid $form-checked-color;
      }
      & ~ .form-checkbox-label::after {
        -webkit-mask-image: url(../svg/check.svg);
        mask-image: url(../svg/check.svg);
        background-color: $color-white;
      }
    }
    &:indeterminate {
      & ~ .form-checkbox-label::before {
        background-color: $form-checked-color;
        border: $border-width solid $form-checked-color;
      }
      & ~ .form-checkbox-label::after {
        -webkit-mask-image: url(../svg/remove.svg);
        mask-image: url(../svg/remove.svg);
        background-color: $color-white;
        top: -1px;
        left: -22px;
      }
    }
  }
}
.form-radio {
  *::before {
    border-radius: $border-radius-circle !important;
  }
  .form-checkbox-input {
    &:indeterminate {
      & ~ .form-checkbox-label::before,
      & ~ .form-checkbox-label::after {
        background-color: $form-color;
        border: $border-width solid $form-color;
      }
    }
  }
}
.form-toggle {
  .form-checkbox-label::before {
    width: 54px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid #ececee;
    background: #ececee;
    top: -9px;
  }
  .form-checkbox-label::after {
    background-color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: -7px;
  }
  .form-checkbox-label {
    padding-left: 40px;
  }
  .form-checkbox-input {
    &:checked {
      & ~ .form-checkbox-label::before {
        background-color: #176bfb;
      }
      & ~ .form-checkbox-label::after {
        -webkit-mask-image: unset;
        mask-image: unset;
        left: 2px;
      }
    }
  }
}
