$form-pd-y-lg: 8px;
$form-pd-x-lg: 12px;
$form-pd-y-md: 8px;
$form-pd-x-md: 10px;
$form-pd-y-sm: 4px;
$form-pd-x-sm: 8px;
$form-bg-color: #f6f6f9;
$form-color: $color-medium;
$form-bd-radius: $border-radius-md;
$size-lg: 24px;
$size-md: 16px;
$size-sm: 16px;
$form-mb: 8px;
$form-mt: 8px;
$form-opacity: 0.4;
$form-active-cursor: #176bfb;
$form-error-color: $color-danger;
$form-success-color: $color-success;
$form-checkbox-size: 24px;
$form-checkbox-pr: 10px;
$form-checked-color: #176bfb;

$theme-pd: (
  'lg' $form-pd-x-lg $form-pd-y-lg $size-lg,
  'md' $form-pd-x-md $form-pd-y-md $size-md,
  'sm' $form-pd-x-sm $form-pd-y-sm $size-sm
);

$theme-state: ('error' $form-error-color, 'success' $form-success-color);
